input.form-control.input-xs(type="text" ng-model="editor.model.name" placeholder="Title" maxLength=125)

-attrs={}
-attrs['style']="height:160px;border:1px dashed white;background-color:black;cursor:pointer;margin-bottom:3%;"
-attrs['ng-mouseover']="editor.mouseOverImage=true"
-attrs['ng-mouseout']="editor.mouseOverImage=false"
div&attributes(attrs)
  -ngStyle="{'background-image':editor.series.images[editor.model.id].avatar && !editor.mouseOverImage ? 'url('+editor.series.images[editor.model.id].avatar.dataUrl+')':null}"
  div(style="height:100%;background-size:cover;background-position:center center;" ng-style=ngStyle)
    -attrs={}
    -attrs['ngf-drop']="editor.uploadAvatarTo($file,editor.series.images[editor.model.id].avatar)"
    -attrs['ng-model']="file"
    -attrs['ngf-pattern']="'image/*'"
    -attrs['ngf-accept']="'image/*'"
    -attrs['ngf-max-size']="8MB"
    -attrs['ngf-fix-orientation']="true"
    -attrs['ngf-drag-over-class']="'drop-over'"
    -attrs['ngf-select']="editor.uploadAvatarTo($file,editor.series.images[editor.model.id].avatar)"
    div(style="height:100%;")&attributes(attrs)
      div(style="position:relative;text-align:center;")
        div(style="position:absolute;color:#DDD;text-shadow:1px 1px 0 #000;margin-top:35%;width:100%") DROP IMAGE HERE

//-no img src editing because outside refs cannot be printed
//-.input-group(style="")
  .input-group-btn
    .btn.btn-xs.btn-default(style="height:25px") img-src
  input.input-xs.form-control(ng-model="editor.series.images[editor.model.id].avatar.dataUrl" style="height:25px" ng-change="editor.series|scanSeries")


.text-center.text-xs(style="margin-bottom:2%;")
  input(type="radio" ng-model="editor.model.cardType" id="editor.model.cardType-planeswalker" value="planeswalker")
  label(for="editor.model.cardType-planeswalker" style="font-weight:normal;") &nbsp;Planeswalker
  |&nbsp;&nbsp;&nbsp;
  input(type="radio" ng-model="editor.model.cardType" id="editor.model.cardType-squad" value="squad")
  label(for="editor.model.cardType-squad" style="ifont-weight:normal;") &nbsp;Squad
  |&nbsp;&nbsp;&nbsp;
  input(type="radio" ng-model="editor.model.cardType" id="editor.model.cardType-spell" value="spell")
  label(for="editor.model.cardType-spell" style="font-weight:normal;") &nbsp;Spell

.fx-fade-up.alert.alert-warning(ng-show="editor.model.cardType=='spell'")
  i.fa.fa-exclamation-triangle
  |&nbsp;Editing spell cards, is not completed. Coming soon!


.text-left.color-picker(id="sortable-container" style="padding:0;")
  -style="color:white;text-shadow:1px 1px 0 #000;"
  .text-xs.text-muted(style=style)
    |Mana Types

  .text-center(style="padding-top:2%;")
    //-selected colors
    div(as-sortable="{containment:'#sortable-container'}" ng-model="editor.model.colors" style="display:inline-block;color:black;")
      div(ng-repeat="item in editor.model.colors" ng-class="'bg-'+item" as-sortable-item ng-click="editor.model.colors.splice($index,1)")
        div(as-sortable-item-handle)
          i.mi(style="font-size:1.5em;" ng-class="'mi-'+item")

    //-selectable colors
    -ngRepeat="item in editor.colors track by item.value"
    -ngHide="editor.model.colors.indexOf(item.value)>=0||(editor.resortColors&&editor.model.colors.length)"
    -ngClick="editor.model.colors.push(item.value)"
    .text-muted(style="display:inline-block;" ng-repeat=ngRepeat ng-hide=ngHide ng-click=ngClick)
      .color-item(style="background-color:white;opacity:.8;")
        i.mi(style="font-size:1.5em;" ng-class="'mi-'+item.value")
    .fx-fade-up(ng-show="editor.resortColors" style="padding:2% 0;color:#CCC;font-size:0.7em;") (drag/drop to sort)


div(style="margin:2% 0;" ng-init="editor.view='dets'")
  div(style="background-color:#444;border:1px dotted #666666;padding:0 1% 1% 1%;border-radius:.5em;margin-top:4%;")
    div(ng-click="editor.view=editor.view=='dets'?false:'dets'")
      a.text-xs(style="width:100%;color:white;text-decoration:underline;") Card Details
  .text-left.fx-fade-up(ng-show="editor.view=='dets'" style="margin:4% 0;")
    table
      tr
        td(style="width:60%;padding-right:3px;")
          .form-group(style="margin-bottom:.6em")
            .text-xs Category
            -placeHolder="Category - Planeswalker, Squad Creature, Hero Creature"
            -attrs={type:"text", "ng-model":"editor.model.category", placeholder:placeHolder, maxLength:125}
            input.form-control.input-xs&attributes(attrs)
        td(style="width:40%;")
          .form-group(style="margin-bottom:.6em")
            .text-xs Type Name
            input.form-control.input-xs(type="text" ng-model="editor.model.type" placeholder="Type Name" maxLength=125)
    table(style="margin-bottom:2%")
      tr
        td(style="width:45%;padding-right:1%;" valign="top")
          -attrs={}
          -attrs['ngf-select']="editor.uploadFigureTo($file,editor.series.images[editor.model.id].figure)"
          -attrs['ngf-drop']="editor.uploadFigureTo($file,editor.series.images[editor.model.id].figure)"
          -attrs['ng-model']="file"
          -attrs['ngf-drag-over-class']="'drop-over'"
          -attrs['ngf-pattern']="'image/*'"
          -attrs['ngf-accept']="'image/*'"
          -attrs['ngf-max-size']="8MB"
          -attrs['ngf-fix-orientation']="true"
          div(style="cursor:pointer;border:1px dashed white;height:100px;background-size:cover;background-position:center center;" ng-style="{'background-image':'url('+editor.series.images[editor.model.id].figure.dataUrl+')'}")
            div(style="height:100%")&attributes(attrs)
              div(style="position:relative;text-align:center;")
                div(style="position:absolute;color:#DDD;text-shadow:1px 1px 0 #000;margin-top:35%;width:100%;font-size:70%;") DROP IMAGE HERE

        td(style="width:55%;padding-left:3px;" valign="top")
          table(cellPadding=0 cellSpacing=0 border=0)
            tr
              td(style="width:33%;padding-right:3px;")
                .form-group
                  .text-xs Life
                  input.form-control.input-sm(type="text" ng-model="editor.model.life" placeholder="Life" maxLength=2 style="padding-right:0;")
              td(style="width:33%;padding-right:3px;")
                .form-group
                  .text-xs Move
                  input.form-control.input-sm(type="text" ng-model="editor.model.move" placeholder="Move" maxLength=2 style="padding-right:0;")
              td(style="width:33%")
                .form-group
                  .text-xs Range
                  input.form-control.input-sm(type="text" ng-model="editor.model.range" placeholder="Range" maxLength=2 style="padding-right:0;")
          table(cellPadding=0 cellSpacing=0 border=0)
            tr
              td(style="width:50%;padding-right:3px;")
                .form-group(style="margin-bottom:.5em;")
                  div(style="position:relative")
                    i.aotp.aotp-attack(style="position:absolute;margin-top:8%;left:8%;color:black;")
                  input.form-control.input-sm(type="text" ng-model="editor.model.attack" placeholder="Attack" maxLength=2 style="padding-left:1.75em;padding-right:0;")
              td(style="width:50%;")
                .form-group(style="margin-bottom:.5em;")
                  div(style="position:relative")
                    i.aotp.aotp-defense(style="position:absolute;margin-top:8%;left:6%;color:black;")
                  input.form-control.input-sm(type="text" ng-model="editor.model.defense" placeholder="Defense" maxLength=2 style="padding-left:1.75em;padding-right:0;")
    .form-group
      .text-xs
        input(type="checkbox" ng-model="editor.model.putSymbolOnFigure" id="editor.model.putSymbolOnFigure")
        label(for="editor.model.putSymbolOnFigure" style="font-weight:normal;") &nbsp;Figure Squad Symbol
      .input-group
        .input-group-addon(style="line-height:0;padding-top:1%;padding-bottom:1%;" ng-click="editor.cycleSymbolClass()")
          i(ng-class="editor.model.symbolClass||'mi mi-planeswalk'" style="font-size:1.2em;")
        input.input-xs.form-control(type="text" ng-model="editor.model.symbolClass" placeholder="Symbol Class" style="font-size:65%;")

//-abs
div(style="background-color:#444;border:1px dotted #666666;padding:0 1% 1% 1%;border-radius:.5em;margin-top:4%;")
  div(ng-click="editor.view=editor.view=='abs'?false:'abs'")
    a.text-xs(style="width:100%;color:white;text-decoration:underline;") Card Abilities
    sup(style="font-size:60%;") &nbsp;{{editor.model.abilityArray.length}}
.fx-fade-up(ng-show="editor.view=='abs'" style="margin:4% 0;")
  .form-group(ng-repeat="ability in editor.model.abilityArray")
    input.input-xs.form-control(type="text" ng-model="ability.title" placeholder="Ability Title")
    textarea.input-xs.form-control(ng-model="ability.body" style="font-size:80%;height:65px" placeholder="Ability Body Description")
    .text-center
      a.text-xs.text-danger(ng-click="editor.model.abilityArray.splice($index,1)") - drop ability
  .text-center(style="margin-bottom:3%;")
    .btn.btn-success.btn-xs(style="width:90px;margin:1%;" ng-click="editor.addAbility()")
      i.fa.fa-plus-circle
      |&nbsp; add ability
    div
      .btn.btn-success.btn-xs(style="width:90px;margin:1%;" ng-click="editor.addAbByType('trample')") + trample
      .btn.btn-success.btn-xs(style="width:90px;margin:1%;" ng-click="editor.addAbByType('flying')") + flying
      .btn.btn-success.btn-xs(style="width:90px;margin:1%;" ng-click="editor.addAbByType('lifelink')") + lifelink
      .btn.btn-success.btn-xs(style="width:90px;margin:1%;" ng-click="editor.addAbByType('haste')") + haste
      .btn.btn-success.btn-xs(style="width:90px;margin:1%;" ng-click="editor.addAbByType('firststrike')") + first strike

//-attrs
div(style="background-color:#444;border:1px dotted #666666;padding:0 1% 1% 1%;border-radius:.5em;margin-top:4%;")
  div(ng-click="editor.view=editor.view=='attrs'?false:'attrs'")
    a.text-xs(style="width:100%;color:white;text-decoration:underline;") Card Attributes

.fx-fade-up(ng-show="editor.view=='attrs'" style="margin:4% 0;")
  table(cellPadding=0 cellSpacing=0 border=0 style="color:white;")
    tr
      td(style="width:33%;padding-right:3px;")
        .form-group
          .text-left.text-xs Size
          input.form-control.input-xs(type="text" ng-model="editor.model.height.name" placeholder="height name")
      td(style="width:33%;padding-right:3px;")
        .form-group
          .text-left.text-xs Height
          select.form-control.input-xs(ng-options="each for each in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]" ng-model="editor.model.height.value")
      td(style="width:33%;padding-right:3px;")
        .form-group
          .text-left.text-xs Cost
          input.form-control.input-xs(type="text" ng-model="editor.model.cost.value" placeholder="value")

  .text-left.fx-fade-up(ng-show="['planeswalker','squad'].indexOf(editor.model.cardType)>=0")
    div(style="width:70%;display:inline-block;padding-right:3px;")
      .form-group
        .text-left.text-xs Squad/Member Count
        select.form-control.input-xs(ng-options="each for each in ['1','2','3','4','5','6']" ng-model="editor.model.members")

    div(style="width:30%;display:inline-block;")
      .form-group
        .text-left.text-xs Cost Per
        input.form-control.input-xs(type="text" ng-model="editor.model.cost.per" placeholder="each")

  .form-group.text-left
    .text-xs
      i(ng-class="editor.model.artist.iconClass")
      |&nbsp;Artist Icon
    input.form-control.input-xs(ng-model="editor.model.artist.iconClass" style="font-size:65%;")

  .form-group.text-left
    .text-xs Artist Title
    input.form-control.input-xs(ng-model="editor.model.artist.title" style="font-size:65%;")
