-attrs={}
-attrs.card="cardCreator.previewCard"
-attrs.series="cardCreator.series"
-attrs['on-edit']="cardCreator.mode='editor';cardCreator.card=cardCreator.previewCard;cardCreator.previewCard=null"
aotp-card-white-out-modal&attributes(attrs)

white-out-modal(show="cardCreator.showDocumentation")
  div(style="padding:10px;max-width:600px;")
  div(style="background-color:white;border:1px solid #999999;border-radius:15px;")
    div(style="padding:20px;")
      include documentation

white-out-modal(show="cardCreator.moreExportInfo")
  div(style="padding:10px;max-width:600px;")
    div(style="background-color:white;border:1px solid #999999;border-radius:15px;")
      div(style="padding:20px;")
        include export-information

//-modal window with info about external refs
white-out-modal(show="cardCreator.showRefWarning")
  div(style="max-width:600px;background-color:white;border-radius:15px;border:1px solid #999999;padding:2%;")
    h2
      i.fa.fa-link
      |&nbsp;Series has External References
    .text-xs
      p.text-muted The series you are viewing, has externally referenced items, links.
      br
      i.fa.fa-exclamation-triangle
      |&nbsp;Please note:
      li Linked items, such as images, may fail over time #[i.fa.fa-unlink]
      li The linked items may have already lost their reference #[i.fa.fa-unlink]
      li The linked items may have possibly been replaced by something else other than what was orginally referenced when link was created.
      li(style="font-weight:bold;") #[i.fa.fa-check.text-success] Everything might appear as intended and this warning is only causing confusion
      br
      br
      .text-muted ... and now you know, hopefully :)


.text-center
  .fx-fade-up(style="cursor:pointer" ng-click="cardCreator.hideTitling=!cardCreator.hideTitling" ng-hide="cardCreator.hideTitling")
    div(style="display:inline-block;margin-right:.3em;")
      .text-left.text-muted(style="font-size:0.6em;line-height:0.5em;font-family:Times New Roman;")
        |Acker Apple's
        span(style="font-size:0.8em;") &nbsp;fan made
      h1.text-sm(style="margin-top:0;font-family:Beleren;font-size:1.65em;margin-bottom:0;")
        i.mi.mi-planeswalk(style="font-size:65%;vertical-align:8%;color:#666;")
        |&nbsp;MTG&nbsp;
        i.aotp.aotp-attack(style="font-size:50%;vertical-align:25%;color:#666;")
        |&nbsp;AOTP&nbsp;
        i.aotp.aotp-defense(style="font-size:50%;vertical-align:25%;color:#666;")
    h1.text-sm(style="vertical-align:middle;margin-top:0;font-family:Beleren small caps;font-size:2.25em;display:inline-block;") Card Manager
    .text-muted(style="font-family:Mplantin;font-size:80%;")
      |&nbsp;&nbsp;&nbsp;
      |A fun-to-use, extra serious, digital card manager

    .text-muted(style="font-size:80%;")
      span(style="font-size:80%;")
        |Made specifically for Google Chrome&nbsp;
      i.fa.fa-chrome

    br

  div(ng-click="cardCreator.hideTitling=!cardCreator.hideTitling" style="cursor:pointer")
    i.aotp.aotp-attack(style="vertical-align:7%")
    |&nbsp;&nbsp;
    i.mi.mi-b.mi-mana.mi-shadow
    |&nbsp;&nbsp;
    i.mi.mi-u.mi-mana.mi-shadow
    |&nbsp;&nbsp;
    i.mi.mi-g.mi-mana.mi-shadow
    |&nbsp;&nbsp;
    i.mi.mi-w.mi-mana.mi-shadow
    |&nbsp;&nbsp;
    i.mi.mi-r.mi-mana.mi-shadow
    |&nbsp;&nbsp;
    i.aotp.aotp-defense(style="vertical-align:7%")

  .text-muted(style="font-size:80%;")
    a.text-xs(style="font-size:80%;" ng-click="cardCreator.showDocumentation=true")
      i.fa.fa-book
      |&nbsp;read the docs

  div(ng-show="cardCreator.series.hasRefs" style="position:absolute;right:1%")
    .btn.btn-xs.btn-warning(ng-click="cardCreator.showRefWarning=true")
      .fa.fa-exclamation-triangle
      |&nbsp;
      .fa.fa-unlink

  .text-center(style="padding-top:1em;")
    div(style="max-width:900px;margin-left:auto;margin-right:auto;")
      .row(style="margin:0 0 1em 0;")
        .fx-fade-up.col-xs-12.col-sm-6(style="vertical-align:middle;padding:0;margin:0;")
          .text-center.text-xs
            .text-center(style="display:inline-block;margin:1%;")
              //-edit series display & labels
              .fx-fade-up.text-left(ng-show="cardCreator.editSeriesInfo")
                .pull-right
                  .fa.fa-times(style="cursor:pointer" ng-click="cardCreator.editSeriesInfo=false")

                .form-group
                  label Series Title
                  input.form-control(type="text" ng-model="cardCreator.series.name")

                .form-group
                  label Series Icon Class
                  .input-group
                    .input-group-addon
                      i(ng-class="cardCreator.series.symbolClass||'mi mi-planeswalk'" ng-click="cardCreator.cycleSeriesSymbol()")
                    input.form-control(type="text" ng-model="cardCreator.series.symbolClass")

                .form-group.pull-left(style="width:50%;padding-right:3px;")
                  label Description
                  -ngModel="cardCreator.series.description"
                  input.input-xs.form-control(type="text" ng-model=ngModel)

                .form-group.pull-left(style="width:50%;")
                  label Small Origin Text #[sup &copy;]
                  -ngModel="cardCreator.series.copyRight"
                  input.text-xs.input-xs.form-control(type="text" ng-model=ngModel)

                .form-group
                  label
                    |Abilities Class&nbsp;
                    i.fa.fa-info-circle(onclick="alert('The original AOTP abilities font sizing, varies from Battle of Zendakar and later series. This is a control for that font variance.')")
                  -ngModel="cardCreator.series.seriesClass"
                  input.text-xs.input-xs.form-control(type="text" ng-model=ngModel placeholder="none or aotp-original")

              //-Series display & labels
              div(ng-hide="cardCreator.editSeriesInfo" ng-click="cardCreator.editSeriesInfo=true" style="cursor:pointer;")
                h2(style="margin:0;" title=title id="seriesTitle")
                  i(ng-class="cardCreator.series.symbolClass||'mi mi-planeswalk'")
                  |&nbsp;
                  span(style="vertical-align:top;display:inline-block;")
                    |{{cardCreator.series.name}}
                div
                  .text-muted(style="font-size:0.9em;line-height:2;margin-bottom:.2em;")
                    div(style="display:inline-block;") {{cardCreator.series.description||'Get ready to describe your awesomeness'}}
                div
                  .text-muted(style="font-size:0.6em;line-height:1;margin-bottom:.5em;")
                    div(style="display:inline-block;" ng-hide="editSeriesCopyRight" ng-click="editSeriesCopyRight=editSeriesCopyRight?false:true" ng-bind-html="cardCreator.series.copyRight||'&copy; copyrights are holding us back 2016'|trustAsHtml")

        .col-xs-12.col-sm-6(style="vertical-align:middle;padding:0;margin:0;")
          .text-center
            .text-center(style="display:inline-block;")
              //-Series & card editors
              div(style="margin-bottom:4%;")
                .btn-default.btn.btn-sm(style="width:80px" ng-click="cardCreator.mode='roster';" ng-class="{active:cardCreator.mode=='roster'}")
                  i.fa.fa-venus-mars
                  |&nbsp;roster
                |&nbsp;
                .btn-default.btn.btn-sm(style="width:80px" ng-click="cardCreator.mode='editor'" ng-class="{active:cardCreator.mode=='editor'}")
                  i.fa.fa-diamond
                  |&nbsp;editor
                |&nbsp;
                .btn-default.btn.btn-sm(style="width:80px" ng-click="cardCreator.mode='browse';" ng-class="{active:cardCreator.mode=='browse'}")
                  i.fa.fa-hand-pointer-o
                  |&nbsp;browse

              div
                .text-muted(style="font-weight:normal;font-size:65%;text-align:{{cardCreator.mode=='editor'?'left;':'center;'}}")
                  |series selector
                a.btn.btn-default(style="vertical-align:top;width:60px;margin-right:.5em;" ng-click="cardCreator.priorSeries()") &lt;&lt;
                .fx-fade-right(style="display:inline-block;" ng-show="cardCreator.mode=='editor'")
                  a.btn.btn-default.btn-sm(style="width:35px" ng-click="cardCreator.priorCard()") &lt;
                  span(style="font-size:.8em;")
                    |&nbsp;&nbsp;
                    |{{cardCreator.selectedIndex+1}} of {{(cardCreator.series.chars|keys).length}}
                    |&nbsp;&nbsp;
                  a.btn.btn-default.btn-sm(style="width:35px" ng-click="cardCreator.nextCard()") &gt;
                  .text-muted.text-center(style="font-weight:normal;font-size:55%;padding-bottom:4px;")
                    |card selector

                a.btn.btn-default(style="vertical-align:top;width:60px;margin-left:.5em;" ng-click="cardCreator.nextSeries()") &gt;&gt;

  .fx-fade-up(ng-show="cardCreator.mode=='editor'")
    aotp-editor-view(series="cardCreator.series" card="cardCreator.card")

  .fx-fade-up(ng-show="cardCreator.mode=='browse'")
    .fx-fade-up.fx-stagger-25(ng-repeat="card in cardCreator.series.chars track by card.id" style="display:inline-block;cursor:pointer;margin:.5% .25%;")
      aotp-char-card(model="card" series="cardCreator.series" ng-click="cardCreator.previewCard=card")

  |{{cardCreator.previewCard.name}}
  .fx-fade-up.text-center(ng-show="cardCreator.mode=='roster'")
    aotp-roster-view(series="cardCreator.series" card-click="cardCreator.previewCard=card" on-add="cardCreator.addCard()")

div(style="text-align:center;margin:1% 0;")
  div(style="display:inline-block;")
    .text-center
      .fx-fade-up(ng-show="cardCreator.optionView=='export'" style="margin:2% 0;")
        h5.text-left(style="margin-top:0;") #[i.fa.fa-download] Exporting {{cardCreator.export.name}}
        .fx-fade-up(ng-show="cardCreator.export" style="margin:2% 0;")
          //-a.btn.btn-default(ng-href="{{cardCreator.export.data|jsonExportUrl}}" target="_blank")
            i.fa.fa-eye
            |&nbsp;View JSON
          //-|&nbsp;
          a.btn.btn-default(ng-click="cardCreator.downloadZipExport()")
            i.fa.fa-download
            |&nbsp;Download ARCHIVE
          |&nbsp;
          a.btn.btn-default(ng-click="cardCreator.downloadJsonExport()")
            i.fa.fa-download
            |&nbsp;JSON Download Link
          //-
            |&nbsp;
            a.btn.btn-default(href="{{cardCreator.export.zip.uri}}" download="test.zip")
              i.fa.fa-download
              |&nbsp;Download ARCHIVE

        .text-center
          input(type="checkbox" ng-model="cardCreator.exportImages" id="aotp-exportImages")
          label(for="aotp-exportImages" style="font-size:0.75em;") &nbsp;Include Images

        a.btn.btn-info(ng-click="cardCreator.moreExportInfo=true" style="margin:1% 0;width:125px")
          i.fa.fa-info-circle
          |&nbsp;more info
        |&nbsp;
        a.btn.btn-default(ng-click="cardCreator.exportAll()" target="blank" style="margin:1% 0;width:125px")
          i.fa.fa-folder-open-o
          |&nbsp;export all
        |&nbsp;
        a.btn.btn-default(ng-click="cardCreator.createSeriesExport()" target="blank" style="margin:1% 0;width:125px")
          i.fa.fa-file-o
          |&nbsp;export series

        br
        .text-center.text-muted(style="font-size:0.6em;")
          |Exporting only works in super modern web browsers.
          //-#[i.fa.fa-firefox] & #[i.fa.fa-chrome] not #[i.fa.fa-safari]
        br

      .fx-fade-up(ng-show="cardCreator.optionView=='import'" style="margin:2% 0;")
        h5 #[i.fa.fa-download] Importing
        .alert.alert-warning coming soon

        -attrs={}
        //-attrs['ngf-drop']="cardCreator.importSeries($file,editor.model)"
        //-attrs['ngf-drag-over-class']="'drop-over'"
        //-attrs['ngf-fix-orientation']="true"
        -attrs['ng-model']="file"
        //-attrs['ngf-pattern']="['application/x-zip-compressed']"
        //-attrs['ngf-accept']="['application/x-zip-compressed']"
        -attrs['ngf-max-size']="8MB"
        -attrs['ngf-select']="cardCreator.uploadSeries($file,file)"
        a.btn.btn-default(style="margin:1% 0;width:125px")&attributes(attrs)
          i.fa.fa-files-o
          |&nbsp;import series


    a.btn.btn-default(style="margin:1% 0;width:135px" ng-click="cardCreator.optionView='import'")
      i.fa.fa-upload
      |&nbsp;import options
    |&nbsp;
    a.btn.btn-success(style="margin:1% 0;width:135px" ng-click="cardCreator.addCard()")
      |+&nbsp;add card
    |&nbsp;
    a.btn.btn-default(style="margin:1% 0;width:135px" ng-click="cardCreator.optionView='export'")
      i.fa.fa-download
      |&nbsp;export options
    |&nbsp;
